body {
    font-family: 'Dongle';
}

.btn:focus {
    border: none;
    outline: none;
}

.banner-title {
    font-size: 7.125rem;
    /* font-size: 5rem; */
}

.banner-paragraph {
    font-size: 3rem;
}

.top-25 {
    top: 25%;
}



/* small mobile  */

@media screen and (max-width: 320px) {}

/* medium mobile  */

@media screen and (min-width: 321px) and (max-width:376px) {}

/* large mobile  */

@media screen and (min-width: 375px) and (max-width:426px) {}

/* tab  */

@media screen and (min-width: 425px) and (max-width:769px) {
    .banner-title {
        /* font-size: 7.125rem; */
        font-size: 3rem;
    }

    .banner-paragraph {
        font-size: 1rem;
    }
}

/* laptop  */

@media screen and (min-width: 769px) and (max-width:1025px) {
    .menu-gap {
        gap: 10vw;
    }

    .banner-paragraph {
        font-size: 2rem;
    }

}

/* large laptop  */

@media screen and (min-width: 1024px) and (max-width:1441px) {
    .menu-gap {
        gap: 10vw;
    }
}


/* extra large laptop  */

@media screen and (min-width: 1440px) {
    .menu-gap {
        gap: 10vw;
    }

    .img-fluid {
        width: 100vw;
    }
}